#main-footer {
    width: 100%;
    height: 50px;
    background: #2f96da;
    font-size: 18px;
    display: flex;
    font-weight: bold;
    position: fixed;
    bottom: 0;
}

#main-footer a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #fafafa;
    text-decoration: none;
}

.active {
    background: #fafafa;
}

.active svg {
    color: #333;
}